@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Oswald:wght@400;600&family=Roboto:wght@100;300&family=Rubik+Glitch&display=swap');

.order-successful-text {
    font-family: Oswald;
    font-size: 2.25em;
    font-weight: bold;
    color: #444444;
    padding: 20px;
    text-align: center;
  }
  
 .mainTwo {
   margin: 0px;
   justify-content: center;
   height: 1600px;
   background-color: rgb(255, 232, 232);
 }
  .result {
    width: 500px;
    height: 1400px;
    border-radius: 25px;
    box-shadow: 5px 10px rgb(255, 173, 173);
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    transform: translateY(5%);
    vertical-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', cursive;
  }
  .order-status-div {
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(181, 181, 181, 0.5);
      padding: 5px;
  }
  .order-placed-image {
    display: block;
    margin: auto;
  }
  .order-status-text {
    text-align:center;
    margin-top: 10px;
    font-family: Oswald;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #d55e57
  }
  .order-id {
    text-align: center;
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
  }
 
  .delivery-text{
    font-family: Oswald;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
  }
  .delivery-address {
    font-family: Oswald,cursive;
    font-size: 20px;
    color: #000000;
  }
  
  

  
  .order-information-header{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
  }
  .order-information-div {
    box-shadow: 0 2px 2px 0 rgba(181, 181, 181, 0.5);
    background-color: #ffffff;
  }
  .orderId{
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    padding-top:10px;
    padding-left: 15px;
  }
  .ordered-time{
     font-family: Lato;
     font-size: 1em;
     color: #000000;
     padding-top:5px;
     padding-left:15px;
    padding-bottom: 5px;
  }
  
  .mat-progress-bar
  {
    width: auto;
    height: 40px;
    border-radius:100px;
    margin-left: 5%;
    margin-right: 5%;  
    
  }

    ul {
      display: grid;
      text-align: left;
      grid-template-columns: 3fr 3fr;
      list-style-position: inside;
    }