<app-toolbar></app-toolbar>

<div class="content" role="main">
    <h2> DIAGNOSE VEHICLE </h2>

    <h4> First Name</h4>
	<input type="text" placeholder="enter first name" name="firstName" [(ngModel)]="firstName">

    <h4> Last Name</h4>
	<input type="text" placeholder="enter last name" name="lastName" [(ngModel)]="lastName">

    <h4> Email Address</h4>
	<input type="text" placeholder="enter email address" name="emailAddress" [(ngModel)]="emailAddress">

    <h4> Type of Vehicle </h4>
    <div><input type="radio" name="vehicleType" value="sedan">Sedan</div>
    <div><input type="radio" name="vehicleType" value="coupe">Coupe</div>
    <div><input type="radio" name="vehicleType" value="SUV">SUV</div>
    <div><input type="radio" name="vehicleType" value="others">Others</div>
    
    <h4> Vehicle Model</h4>
	<input type="text" placeholder="enter vehicle model" name="vehicleModel" [(ngModel)]="vehicleModel">

    <h1></h1>
    <button md-button class="specialBtn" routerLink="/DiagnoseVehicleProblemComponent"> Next </button>
    <h1></h1>

</div>
