<app-toolbar></app-toolbar>

    
<br><br><br><br>        
<div class="page">
  <h1>DIAGNOSE YOUR VEHICLE</h1>
  <h3 *ngIf="!start">What problems are your car having?</h3>

    <button *ngIf="!start" (click)="initiate('engine')">Engine Problems</button>
    <button *ngIf="!start" (click)="initiate('safety')">Safety Problems</button>
    <button *ngIf="!start" (click)="initiate('brake')">Brake Problems</button>
    <button *ngIf="!start" (click)="initiate('transmission')">Transmission Problems</button>
    <button *ngIf="!start" (click)="initiate('chassis')">Chassis Problems</button>
    <button *ngIf="!start" (click)="initiate('electrical')">Electrical Problems</button>

    <h3>{{appointProblem}}</h3>
    <button *ngIf="!answer" (click)="yes()">Yes</button>
    <button *ngIf="!answer" (click)="no()">No</button>

    <button *ngIf="!diagnose" (click)="restart()">Diagnose Again?</button>
    <button *ngIf="!book" (click)="bookAppointment()">Book Appontment?</button>

</div>


<div class="book" *ngIf="!hideBook">
  <div *ngIf="!hideUser">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Full Name</mat-label>
      <textarea [(ngModel)]="customerName" matInput placeholder="Input Full Name"></textarea>
    </mat-form-field>
    <br>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <textarea [(ngModel)]="customerEmail" matInput placeholder="Input Your Email"></textarea>
    </mat-form-field>
    <br>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="customerPhone" (keypress)="numberOnly($event)" type="text">
    </mat-form-field>
    <br>
  </div>
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Car Name</mat-label>
    <textarea [(ngModel)]="carName" matInput placeholder="Input Problem Details"></textarea>
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="fill">
    <mat-label>Transmission</mat-label>
    <mat-select [(value)]="transmission">
      <mat-option [value]="option" *ngFor="let option of transArray">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="fill">
    <mat-label>Fuel Type</mat-label>
    <mat-select [(value)]="fuelType">
      <mat-option [value]="option" *ngFor="let option of gasType">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <h4>Service Category</h4>
  <p>{{problem}}</p>
  <br>
  
  <mat-form-field appearance="fill">
    <mat-label>Mechanic</mat-label>
    <mat-select (selectionChange)="changeTimeArray()" [(value)]="employeeID">
      <mat-option [value]="option.id" *ngFor="let option of employees">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <input matInput [matDatepicker]="picker" [formControl]="date" [matDatepickerFilter]="weekendsDatesFilter"
      [min]="minDate">
    <!-- <input matInput [matDatepicker]="picker" (dateInput)="onDate($event.value)" [formControl]="date"> -->
  
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Input type time</mat-label>
    <!-- <input [(ngModel)]="time" type="time" matInput name="week" min="09:00" max="18:00"> -->
    <mat-select [(value)]="time">
      <mat-option [value]="option.value" *ngFor="let option of timeArray">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <h3 class="special">Price: Php {{price}}</h3>
  <br>
  <h5 class="special"><b>*Disclaimer: Prices are only representative and are subject to change once the mechanic checks
      your vehicle.</b></h5>
  
  <button class="mat-raised-button" (click)="addNewTicket()">Book Appointment</button>
  <h1></h1>
  <h3 class="special">{{errorMSG}}</h3>
</div>
