@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Oswald:wght@400;600&family=Roboto:wght@100;300&family=Rubik+Glitch&display=swap');

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

[hidden] {
  display: none !important;
}


.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  width: 100%;
  overflow-wrap: break-word;
  font-size: 50px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}
.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: #fff;
}
.appointment-section {
  position: relative;
  padding: 50px 0 80px;
  margin-top: 50px;
}
.appointment-section .form-column {
  position: relative;
  margin-bottom: 40px;
}
.default-form {
  position: relative;
}
.default-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.default-form .form-group i {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #FC7373;
  font-size: 18px;
}
.default-form .form-group input[type="text"],
.default-form .form-group input[type="tel"],
.default-form .form-group input[type="email"],
.default-form .form-group select {
  position: relative;
  display: block;
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  color: #000;
  height: 50px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #d7d7d7;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group textarea:focus {
  border-color: #FC7373;
}
.default-form .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 22px;
  padding: 15px 20px;
  color: #797979;
  height: 120px;
  background: #fff;
  resize: none;
  font-size: 14px;
  border: 1px solid #d7d7d7;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.default-form .form-group .appointment-btn {
  font-size: 24px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 115, 115);
  color: whitesmoke;
  font-family: 'Oswald', cursive;
  justify-content: center;
  text-align: center;
}

.default-form .form-group .appointment-btn:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
}

.default-form .form-group .btn-detail {
  position: relative;
  color: #777;
  font-size: 15px;
  margin-left: 35px;
  display: inline-block;
}
.appointment-section .schedule-column {
  position: relative;
}
.appointment-section .schedule-column .inner-outer {
  position: relative;
  padding-left: 20px;
  padding-bottom: 20px;
}
.appointment-section .schedule-column .inner-outer:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 347px;
  height: 268px;
  background: url(https://i.ibb.co/gjZ1NFM/pattern-Appoinment.png) no-repeat;
}
.appointment-section .schedule-column .inner-column {
  position: relative;
  padding: 25px 30px;
  border: 2px solid #FC7373;
  background-color: #fff;
}
.appointment-section .schedule-column h2 {
  font-family: 'Oswald', cursive;
  position: relative;
  color: #252525;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.appointment-section .schedule-column .time-list {
  position: relative;
}
.appointment-section .schedule-column .time-list li {
  font-family: 'Oswald', cursive;
  position: relative;
  color: #777;
  font-size: 15px;
  margin-bottom: 12px;
}
.appointment-section .schedule-column .time-list li:last-child {
  margin-bottom: 0;
}
.appointment-section .schedule-column .time-list li strong {
  color: #222;
  font-weight: 700;
}
.appointment-section .schedule-column .time-list .closed {
  position: relative;
  color: #FC7373;
}

/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/

.main{
  margin: 10px 0px 0px 0px;
  justify-content: center;
  height: 40rem;
  background-color: rgb(255, 232, 232);
}

.box{
  width: 500px;
  height: 55%;
  background: white;
  text-align: center;
  margin:auto;
  margin-top: 6%;
  margin-bottom: 5%;
  transform: translateY(5%);
  vertical-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', cursive;
  padding: 2%;
}

.specialTextOne{
  width: 100%;
  overflow-wrap: break-word;
  font-size: 45px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  justify-content: center;
  text-align: center;
  margin: 0 ;
}

.specialTextThree{
  width: 100%;
  overflow-wrap: break-word;
  font-size: 25px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  justify-content: center;
  text-align: center;
  margin: 0 ;
}

.specialButton{
  font-size: 24px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 115, 115);
  color: whitesmoke;
  font-family: 'Oswald', cursive;
  justify-content: center;
  text-align: center;
}
.specialButton:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
}

/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/

.bookBox{
  width: 500px;
  height: 85%;
  background: white;
  text-align: center;
  margin:auto;
  margin-top: 6%;
  margin-bottom: 5%;
  transform: translateY(5%);
  vertical-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', cursive;
  padding: 2%;
}

.mainTwo{
  margin: 10px 0px 0px 0px;
  justify-content: center;
  height: 100rem;
  background-color: rgb(255, 232, 232);
}

.specialTextP{
  width: 100%;
  overflow-wrap: break-word;
  font-size: 20px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  justify-content: center;
  text-align: center;
  margin: 0 ;
}

.specialTextFour{
  width: 100%;
  overflow-wrap: break-word;
  font-size: 18px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  justify-content: center;
  text-align: center;
  margin: 0 ;
}