<app-toolbar></app-toolbar>

    
<br><br><br><br>        
<div class="page">
  <h1>DIAGNOSE YOUR VEHICLE</h1>
  <h3 *ngIf="!start">What problems are your car having?</h3>

    <button *ngIf="!start" (click)="initiate('engine')">Engine Problems</button>
    <button *ngIf="!start" (click)="initiate('safety')">Safety Problems</button>
    <button *ngIf="!start" (click)="initiate('brake')">Brake Problems</button>
    <button *ngIf="!start" (click)="initiate('transmission')">Transmission Problems</button>
    <button *ngIf="!start" (click)="initiate('chassis')">Chassis Problems</button>
    <button *ngIf="!start" (click)="initiate('electrical')">Electrical Problems</button>

    <h3>{{problem}}</h3>
    <button *ngIf="!answer" (click)="yes()">Yes</button>
    <button *ngIf="!answer" (click)="no()">No</button>

    <button *ngIf="!diagnose" (click)="restart()">Diagnose Again?</button>
    <button *ngIf="!book" (click)="bookAppointment()">Book Appontment?</button>



</div>
