<app-toolbar></app-toolbar>

    
<br><br><br><br>        
<div class="page">
  <h1>DIAGNOSE YOUR VEHICLE</h1>
  <h3>What problems are your car having?</h3>

    <button (click)="initiate('engine')">Engine Problems</button>
    <button (click)="initiate('safety')">Safety Problems</button>
    <button (click)="initiate('brake')">Brake Problems</button>
    <button (click)="initiate('transmission')">Transmission Problems</button>
    <button (click)="initiate('chassis')">Chassis Problems</button>
    <button (click)="initiate('electrical')">Electrical Problems</button>

    <h3>{{problem}}</h3>

    <button class="theme-btn appointment-btn" routerLink="/DiagnoseVehicleProblemComponent">Next</button>
</div>
