<p>howsmyvehicle works!</p>
<app-toolbar></app-toolbar>

<p class="order-successful-text"> TICKET STATUS </p>
<div class="main-div col-md-12 col-lg-12">
  <div class="track-order-div col-md-8 col-lg-8 col-sm-12 col-xs-12">
    <p class="track-your-order"> ENTER TICKET NUMBER </p>
    <div class="order-status-div">
        <input type="text" placeholder="Search..">
      <p class="order-status-text"> CAR IS BEING DIAGNOSED </p>
      <p class="order-id"> TICKET ID: 123456</p>
      
      <ul class="order-status-animation">
        <li>
          <div class="order-placed">
          <img  src="https://cdn.zeplin.io/58e89cb1bcbb20c60457e08c/assets/E67E571F-0710-43B2-8D07-793788CE5A9E.png"/> 
          <p> Service Availed </p>
          </div>
        </li>
         <li> 
           <div class="fresh-food-being-prepared">
          <img src="https://cdn.zeplin.io/58e89cb1bcbb20c60457e08c/assets/E67E571F-0710-43B2-8D07-793788CE5A9E.png"/> 
          <p> Undergoing Diagnosis </p>
           </div>
        </li>
         <li> 
           <div>
          <img src="https://cdn.zeplin.io/58e89cb1bcbb20c60457e08c/assets/E67E571F-0710-43B2-8D07-793788CE5A9E.png"/> 
          <p> Repair/Maintenance Undergoing</p>
           </div>
        </li>
         <li> 
           <div>
          <img src="https://cdn.zeplin.io/58e89cb1bcbb20c60457e08c/assets/E67E571F-0710-43B2-8D07-793788CE5A9E.png"/> 
          <p> Order Done/ For Checkout </p>
           </div>
        </li>
      </ul>
      
    </div>
   
    <div class="customer-details">
      <p class="delivery-text"> Service details </p>
      <p class="delivery-address"> Toyota Vios, Oil Change/Maintenance  </p>
      <p class="delivery-address"> Cavite Branch, 2,000 PHP </p>
      <p class="delivery-text"> Schedule </p>
      <p class="consumer-phonenumber"> 2/19/2022</p>
      <p class="consumer-phonenumber"> 3:00 PM</p>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <p class="arriving-in-header"> ESTIMATED FINISH </p>
    <div class="arriving-in-details">
      <ul>
        <li>
          <p class="delivery-time"> 1 hour</p> 
        </li>
        <li>
          <p class="delivery-boy-num"> Call AutoShop Personnel </p>
        </li>
      </ul>
    </div>
    <p class="order-information-header"> ORDER INFORMATION </p>
    <div class="order-information-div">
      <p class="orderId"> Order id: 123456 </p>
      <p class="ordered-time"> Order placed:2,000PHP February 2 2022 </p>
    </div>
    <div class="item-container-div">
      <ul>
        <li>
          <div class="item-list-div">
            <p> Maintenance <span class="quantity"> * 1</span> </p>
            <span class="combo-item"> Oil Change </span>
            <span class="combo-item"> Checkup </span>
            <span class="combo-item"> Repair </span>
          </div>
        </li>
        <!-- <li>
          <div class="item-list-div">
            <p> ATB <span class="quantity"> * 2</span> </p>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>