<h3 class="special">Edit Job Order</h3>
<mat-dialog-content>
    <h4 class= "special">Status</h4>

    <mat-form-field class="fill-container" appearance="fill">
        <mat-label>Mechanic</mat-label>
        <mat-select [(value)]="employeeID" multiple>
            <mat-option [value]="option.id" *ngFor="let option of employees">{{ option.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field  class="fill-container" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="status">
            <mat-option [value]="option.value" *ngFor="let option of statusArray">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="fill-container" appearance="fill">
        <mat-label>Choose date of release</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="estimate" [matDatepickerFilter]="weekendsDatesFilter"
            [min]="minDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field  class="fill-container" appearance="outline">
        <mat-label>Input type time</mat-label>
        <mat-select [(value)]="start">
            <mat-option [value]="option.value" *ngFor="let option of timeArray">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4 class="special">Vehicle Details</h4>

    <mat-form-field appearance="fill" class="fill-container">
        <mat-label>Car Name</mat-label>
        <textarea [(ngModel)]="carName" matInput placeholder="2018 Honda Civic"></textarea>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="fill-container">
        <mat-label>Plate Number</mat-label>
        <textarea [(ngModel)]="plate" matInput placeholder="AKA1023"></textarea>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="fill-container">
        <mat-label>Vehicle Identification Number</mat-label>
        <textarea [(ngModel)]="vin" matInput placeholder="4S3BMHB68B3286050"></textarea>
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="fill" class="fill-container">
        <mat-label>Engine Number</mat-label>
        <textarea [(ngModel)]="engine" matInput placeholder="52WVC10338"></textarea>
    </mat-form-field>
    <br>

    <h4 class= "special">Service Category</h4>
    <mat-form-field class="fill-container" appearance="fill">
        <mat-label>Service Category</mat-label>
        <mat-select (selectionChange)="changeServices()" [(value)]="service">
            <mat-option [value]="option.value" *ngFor="let option of serviceArray">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fill-container" appearance="fill">
        <mat-label>Services</mat-label>
        <mat-select [(value)]="jobs" multiple>
            <mat-option [value]="option.value" *ngFor="let option of serviceCon">{{ option.value }}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4 class= "special">Mechanic Recommendation</h4>
    <mat-form-field class="fill-container"  appearance="fill">
        <mat-label>Recommendations</mat-label>
        <textarea  cdkTextareaAutosize cdkAutosizeMinRows="5" matInput [(ngModel)]="recommend" placeholder="Input Recommendations">{{recommend}}</textarea>
    </mat-form-field>
    <!-- <h4 class= "special">Price</h4>
    <mat-form-field class="fill-container" appearance="fill">
        <mat-label>Php</mat-label>
        <input type="number" matInput #postalCode maxlength="6" placeholder="Input price" [(ngModel)]="price" >
        
    </mat-form-field> -->

    <mat-dialog-actions>
        <button class="mat-raised-button mat-primary" (click)="updateData()">Save</button>
        <button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
</mat-dialog-content>