<p>scheduling-employees-view works!</p>
<app-toolbaradmin></app-toolbaradmin>

<div class="page">
    <h1>Ticket List</h1>

    <h3>Filter by:</h3>

    <input type="text" placeholder="ID">
    <input type="text" placeholder="Mechanic">
    <input type="text" placeholder="Date">
    

    <h3></h3>

    <table>
        <thead>
        <tr>            
            <th>Ticket ID</th>
            <th>Employee ID</th>
            <th>Mechanic Name</th>
            <th>Car Name</th>
            <th>Transmission</th>
            <th>Fuel Type</th>
            <th>Problem</th>
            <th>Solution</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Customer Phone</th>
            <th>Price</th>
            
        </tr>
        </thead>
        <tbody>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">ticket.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.ID</td>
                <td ng-cloak ng-bind="mechanicName">Juan Cruz</td>
                <td ng-cloak ng-bind="carName">Toyota Vios</td>
                <td ng-cloak ng-bind="transmission">Automatic</td>
                <td ng-cloak ng-bind="fuel">Gas</td>
                <td ng-cloak ng-bind="problem">Oil Change</td>
                <td ng-cloak ng-bind="solution">change da oil</td>
                <td ng-cloak ng-bind="date">7/22/2022</td>
                <td ng-cloak ng-bind="time">6:31AM</td>
                <td ng-cloak ng-bind="status">Pending Diagnosis</td>
                <td ng-cloak ng-bind="custName">Tommy Shelby</td>
                <td ng-cloak ng-bind="custMail">shelbycars@mail.com</td>
                <td ng-cloak ng-bind="custPhone">9088540026</td>
                <td ng-cloak ng-bind="price">5000</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">ticket.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.ID</td>
                <td ng-cloak ng-bind="mechanicName">Juan Cruz</td>
                <td ng-cloak ng-bind="carName">Toyota Vios</td>
                <td ng-cloak ng-bind="transmission">Automatic</td>
                <td ng-cloak ng-bind="fuel">Gas</td>
                <td ng-cloak ng-bind="problem">Oil Change</td>
                <td ng-cloak ng-bind="solution">change da oil</td>
                <td ng-cloak ng-bind="date">7/22/2022</td>
                <td ng-cloak ng-bind="time">6:31AM</td>
                <td ng-cloak ng-bind="status">Pending Diagnosis</td>
                <td ng-cloak ng-bind="custName">Tommy Shelby</td>
                <td ng-cloak ng-bind="custMail">shelbycars@mail.com</td>
                <td ng-cloak ng-bind="custPhone">9088540026</td>
                <td ng-cloak ng-bind="price">5000</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">ticket.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.ID</td>
                <td ng-cloak ng-bind="mechanicName">Juan Cruz</td>
                <td ng-cloak ng-bind="carName">Toyota Vios</td>
                <td ng-cloak ng-bind="transmission">Automatic</td>
                <td ng-cloak ng-bind="fuel">Gas</td>
                <td ng-cloak ng-bind="problem">Oil Change</td>
                <td ng-cloak ng-bind="solution">change da oil</td>
                <td ng-cloak ng-bind="date">7/22/2022</td>
                <td ng-cloak ng-bind="time">6:31AM</td>
                <td ng-cloak ng-bind="status">Pending Diagnosis</td>
                <td ng-cloak ng-bind="custName">Tommy Shelby</td>
                <td ng-cloak ng-bind="custMail">shelbycars@mail.com</td>
                <td ng-cloak ng-bind="custPhone">9088540026</td>
                <td ng-cloak ng-bind="price">5000</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">ticket.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.ID</td>
                <td ng-cloak ng-bind="mechanicName">Juan Cruz</td>
                <td ng-cloak ng-bind="carName">Toyota Vios</td>
                <td ng-cloak ng-bind="transmission">Automatic</td>
                <td ng-cloak ng-bind="fuel">Gas</td>
                <td ng-cloak ng-bind="problem">Oil Change</td>
                <td ng-cloak ng-bind="solution">change da oil</td>
                <td ng-cloak ng-bind="date">7/22/2022</td>
                <td ng-cloak ng-bind="time">6:31AM</td>
                <td ng-cloak ng-bind="status">Pending Diagnosis</td>
                <td ng-cloak ng-bind="custName">Tommy Shelby</td>
                <td ng-cloak ng-bind="custMail">shelbycars@mail.com</td>
                <td ng-cloak ng-bind="custPhone">9088540026</td>
                <td ng-cloak ng-bind="price">5000</td>
            </tr>
        </tbody>
    </table>

<h1></h1>
<h1></h1>

<button md-button class="specialBtn" routerLink="/ticketedit">Edit Ticket</button>
    

</div>