<app-toolbarstaff></app-toolbarstaff>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staff Login</title>
    <link rel="stylesheet" href="staff.component.css" charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="page">
        <h1>Current Vehicles List</h1>
        <table>
            <thead>
            <tr>
                <th>Ticket ID</th>            
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Service Availed</th>
            </tr>
            </thead>
            <tbody>
                <tr class="filtered-row">
                    <td ng-cloak ng-bind="ticketIDcar">202200178</td>
                    <td ng-cloak ng-bind="make">Hyundai</td>
                    <td ng-cloak ng-bind="model">Veloster</td>
                    <td ng-cloak ng-bind="year">2022</td>
                    <td ng-cloak ng-bind="item.End">Maintenance</td>
                </tr>
                <tr class="filtered-row">
                    <td ng-cloak ng-bind="ticketIDcar">202200178</td>
                    <td ng-cloak ng-bind="make">Hyundai</td>
                    <td ng-cloak ng-bind="model">Veloster</td>
                    <td ng-cloak ng-bind="year">2022</td>
                    <td ng-cloak ng-bind="item.End">Maintenance</td>
                </tr>
                <tr class="filtered-row">
                    <td ng-cloak ng-bind="ticketIDcar">202200178</td>
                    <td ng-cloak ng-bind="make">Hyundai</td>
                    <td ng-cloak ng-bind="model">Veloster</td>
                    <td ng-cloak ng-bind="year">2022</td>
                    <td ng-cloak ng-bind="item.End">Maintenance</td>
                </tr>
                <tr class="filtered-row">
                    <td ng-cloak ng-bind="ticketIDcar">202200178</td>
                    <td ng-cloak ng-bind="make">Hyundai</td>
                    <td ng-cloak ng-bind="model">Veloster</td>
                    <td ng-cloak ng-bind="year">2022</td>
                    <td ng-cloak ng-bind="item.End">Maintenance</td>
                </tr>
            </tbody>
        </table>
    
    <h1></h1>
    <h1></h1>
    
        <button md-button class="specialBtn" routerLink="/appointment">View More Details</button>
    
    </div>
  </body>
</html>
