<h3 mat-dialog-title> Change Ticket</h3>
<mat-dialog-content>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Car Name</mat-label>
        <textarea matInput [(ngModel)]="carName" placeholder="Input Problem Details">{{carName}}</textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Transmission</mat-label>
        <textarea matInput [(ngModel)]="transmission" placeholder="Input Problem Details">{{transmission}}</textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fuel Type</mat-label>
        <textarea matInput placeholder="Input Problem Details">{{fuelType}}</textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Problem</mat-label>
        <textarea matInput [(ngModel)]="problem" placeholder="Input Problem Details">{{problem}}</textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Solution</mat-label>
        <textarea matInput [(ngModel)]="solution" placeholder="Input Problem Details">{{solution}}</textarea>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input value={{price}} [(ngModel)]="price" type="number" matInput="number">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="status">
            <mat-option [value]="option.value" *ngFor="let option of statusArray">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" (click)="updateData()">Save</button>
    </mat-dialog-actions>

</mat-dialog-content>