<h3 mat-dialog-title> Ticket Details</h3>
<mat-dialog-content [formGroup]="form">

    <!-- INSERT SHIT HERE -->

    <h4>Ticket ID:</h4>
    <h4>Mechanic:</h4>
    <h4>Vehicle Information</h4>
    <p>Car Name:</p>
    <p>Plate Number:</p>
    <p>Fuel Type:</p>
    <p>Transmission:</p>
    <p>Service Availed:</p>
    <p>Problem:</p>
    <p>Solution:</p>
    <p>Schedule:</p>
    <h4>Customer Information</h4>
    <p>Customer Name:</p>
    <p>Phone:</p>
    <h4>Status:</h4>
    <h4>Price:</h4>


</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>