ul {
    display: grid;
    text-align: left;
    grid-template-columns: 3fr 3fr;
    list-style-position: inside;
}

h4 {
    background-color:rgb(138, 202, 255);
}

.special {
    font-size: 20px;
}