<h3 mat-dialog-title> Ticket Details</h3>
<mat-dialog-content class="special" [formGroup]="form">

    <h4> Ticket ID: {{ticketID}} </h4>

    <div *ngIf="hide">
        <h4> Empoloyee Information</h4>
        <p><b>Mechanic:</b> {{mechanicName}}</p>
        <p><b>Mechanic ID:</b> {{employeeID}}</p>
    </div>

    <h4>Vehicle Information</h4>
    <p><b>Car Name:</b> {{carName}}</p>
    <p><b>Fuel Type:</b> {{fuelType}}</p>
    <p><b>Transmission:</b> {{transmission}}</p>
    <p><b>Problem:</b> {{problem}}</p>
    <div *ngIf="hide">
        <p><b>Service Category:</b> {{service}}</p>
        <p><b>Services:</b></p>

        <ul>
            <div >
                <li *ngFor="let item of jobs[0]">{{item}}</li>
            </div>
        </ul>

        <h4>Mechanic Recommendation</h4>
        <p>{{recommend}}</p>
        <h4>Estimated Completion</h4>
        <p><b>Time:</b> {{start}}</p>
        <p><b>Date:</b> {{estimate}}</p>
    </div>
    <h4>Customer Information</h4>
    <p><b>Customer Name:</b> {{customerName}}</p>
    <p><b>Phone:</b> {{customerPhone}}</p>
    <p><b>Email:</b> {{customerEmail}}</p>
    <h4><b>Status:</b> {{status}}</h4>
    <div *ngIf="hide">
        <h4>Price:{{price}}</h4>
    </div>


</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>