@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Oswald:wght@400;600&family=Roboto:wght@100;300&family=Rubik+Glitch&display=swap');

.app-modal-window .modal-dialog {
    width: 500px;
    height: 200px;
  }
  
.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.main{
  margin: 100px -16px 0px -100px;
  width: auto;
  justify-content: center;
  height: 43rem;
  background-color: rgb(255, 232, 232); /* For browsers that do not support gradients */
  background-image: linear-gradient(170deg, rgb(255, 232, 232) 0%, rgb(255, 232, 232) 60%, white 60.1%);
}

h1.special{
justify-content: center;
width: 100%;
overflow-wrap: break-word;
font-size: 50px;
font-family: 'Oswald', cursive;
padding: 0;
color: black;
text-align: center;
margin: 0;
}
