<app-toolbaradmin></app-toolbaradmin>
<div class="main">
    <div class="page">
        <h1 class="text">Edit Tickets</h1>
            <!-- <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field> -->
                <form class="date-block" [formGroup]="range">
                    <div class="date-block__list">
                        <mat-form-field>
                            <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="date-block__list">
                        <mat-form-field>
                            <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <button mat-button color="primary" class="special" (click)="startFilter()">Submit</button>
                    <button mat-button color="primary" class="special" (click)="resetFilter()">Reset</button>
                </form>
        <h1></h1>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

                <ng-container matColumnDef="ticketID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Id</th>
                    <td mat-cell *matCellDef="let row">{{row.ticketID}}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</th>
                    <td mat-cell *matCellDef="let row">{{row.date}}</td>
                </ng-container>

                <ng-container matColumnDef="carName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Car</th>
                    <td mat-cell *matCellDef="let row">{{row.carName}}</td>
                </ng-container>

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
                    <td mat-cell *matCellDef="let row">{{row.service}}</td>
                </ng-container>

                <ng-container matColumnDef="mechanicName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mechanic</th>
                    <td mat-cell *matCellDef="let row">{{row.mechanicName}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row">{{row.status}}</td>
                </ng-container>

                <ng-container matColumnDef="estimate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Release</th>
                    <td mat-cell *matCellDef="let row">{{row.estimate}}, {{row.convTime2}}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                    <td mat-cell *matCellDef="let row">Php {{row.price}}</td>
                </ng-container>


                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit Ticket</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" (click)="editDialog(row)" md-button class="specialBtn">Edit</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>View</th>
                    <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary" (click)="viewDialog(row)" md-button class="specialBtn">View</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" (click)="removeData(row)" md-button
                            class="specialBtn">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                
                <tr mat-row [ngClass]="{
                'redBG': row.rowColor == 1,
                'yellowBG': row.rowColor == 2,
                'greenBG': row.rowColor == 3,
                'blueBG': row.rowColor == 4
            }" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>