<p>scheduling-employees-view works!</p>
<app-toolbaradmin></app-toolbaradmin>

<div class="page">
    <h1>Employee Schedules List</h1>
    <table>
        <thead>
        <tr>            
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Timeframe</th>
            <th>Days Available</th>
        </tr>
        </thead>
        <tbody>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">employee.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.Name</td>
                <td ng-cloak ng-bind="item.Start">employee.Email</td>
                <td ng-cloak ng-bind="item.End">employee.Phone</td>
                <td ng-cloak ng-bind="item.DOW">employee.Timeframe</td>
                <td ng-cloak ng-bind="item.Open">employee.Days</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">employee.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.Name</td>
                <td ng-cloak ng-bind="item.Start">employee.Email</td>
                <td ng-cloak ng-bind="item.End">employee.Phone</td>
                <td ng-cloak ng-bind="item.DOW">employee.Timeframe</td>
                <td ng-cloak ng-bind="item.Open">employee.Days</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">employee.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.Name</td>
                <td ng-cloak ng-bind="item.Start">employee.Email</td>
                <td ng-cloak ng-bind="item.End">employee.Phone</td>
                <td ng-cloak ng-bind="item.DOW">employee.Timeframe</td>
                <td ng-cloak ng-bind="item.Open">employee.Days</td>
            </tr>
            <tr class="filtered-row">
                <td ng-cloak ng-bind="item.Name">employee.ID</td>
                <td ng-cloak ng-bind="item.Type">employee.Name</td>
                <td ng-cloak ng-bind="item.Start">employee.Email</td>
                <td ng-cloak ng-bind="item.End">employee.Phone</td>
                <td ng-cloak ng-bind="item.DOW">employee.Timeframe</td>
                <td ng-cloak ng-bind="item.Open">employee.Days</td>
            </tr>
        </tbody>
    </table>

<h1></h1>
<h1></h1>

<button md-button class="specialBtn" routerLink="/SchedulingEmployeesEditComponent">Edit Schedule</button>
    

</div>