<app-toolbaruser></app-toolbaruser>

<div class="main">
    <div class="box">

        <div class="titleBooking">
            <h1 class= "special">
                Edit User Account Details
            </h1>
        </div>      


        <div class="edit-user">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <textarea [(ngModel)]="fullName" matInput placeholder="Input Full Name">{{fullName}}</textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <textarea [(ngModel)]="phone" matInput placeholder="Input Phone Number">{{phone}}</textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <textarea [(ngModel)]="password" matInput placeholder="Input Password">{{password}}</textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>New Password</mat-label>
                <textarea [(ngModel)]="newPass" matInput placeholder="Input New Password"></textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Confirm New Password</mat-label>
                <textarea [(ngModel)]="confirmPass" matInput placeholder="Confirm New Password"></textarea>
            </mat-form-field>
            <br>

            <button class="specialButton" (click)="apply()">Apply Edits</button>
            <h1></h1>
            <h3 class="special">{{errorMSG}}</h3>
        </div>
    </div>
</div>