.full-width-table {
  width: 95%;
  margin: 10px auto;
}

h1.special{
  justify-content: center;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 50px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  text-align: center;
  margin: 0;
}

.filter{
  text-align: center;
  justify-content: center;
  margin: 0px 0px 2px 0px;
}

.mat-elevation-z8{
  text-align: center;
  justify-content: center;
  margin: 0px 0px 200px 70px;
  background-color: white;
}

.green {
  background-color: green;
}

.noMech {
  background-color: rgb(255, 160, 160);
  text-align: center !important;
  vertical-align: middle !important;
}

.SpecialTd {
  text-align: center !important;
  vertical-align: middle !important;
}

.yellowBG {
  background-color: rgb(255, 196, 86);
}

.redBG {
  background-color: rgb(255, 93, 93);
}