.full-width-table {
  width: 95%;
  margin: 10px auto;
}

h1.special{
  justify-content: center;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 50px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  text-align: center;
  margin: 0;
}

.special {
  margin: 0px 0px 9px 0px;
  text-align: center;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 115, 115);
  color: whitesmoke;
  font-family: 'Oswald', cursive;
  justify-content: center;
}

.special:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
}

.mat-elevation-z8{
  text-align: center;
  justify-content: center;
  background-color: white;
}

.green {
  background-color: green;
}

.noMech {
  background-color: rgb(255, 160, 160);
  text-align: center !important;
  vertical-align: middle !important;
}

.SpecialTd {
  text-align: center !important;
  vertical-align: middle !important;
}

.yellowBG {
  background-color: rgb(255, 196, 86);
}

.redBG {
  background-color: rgb(255, 149, 149);
}

.date-block {
  display: flex;
  justify-content: right;
}

.date-block__list {
  margin-right: 15px;
}

.filter2 {
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: left;
  margin-right: auto;
}