<div class="toolbar" role="banner">
    <img class="img" width="150" alt="Angular Logo" src="assets/images/logo.png" />
    <button md-button class="btn1" routerLink="/adminpage"> Home </button>
    <h1></h1>
    <!-- <button md-button class="btn1" routerLink="/SchedulingEmployeesViewComponent">View Schedule</button>
    <h1></h1> -->
    <button md-button class="btn1" routerLink="/TicketViewViewComponent">View Appointments</button>
    <h1></h1>
    
    <button md-button class="btn1" routerLink="/editTicketAdmin">Currently In Service</button>
    
    <h1></h1>
    
    <button md-button class="btn1" routerLink="/editpermissions">Edit Permissions</button>

    <button md-button class="btn1" (click)="logOut()">Log Out</button>
</div>
