<h3 mat-dialog-title> Change Ticket</h3>
<mat-dialog-content [formGroup]="form">

<!-- Display time, date, transmission, fuelType -->
  <p>Mechanic ID: {{employeeID}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Mechanic</mat-label>
    <mat-select [(value)]="employeeID">
      <mat-option [value]="option.id" *ngFor="let option of employees">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput placeholder="Date">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input matInput placeholder="Time">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Problem</mat-label>
    <textarea matInput placeholder="Input Problem Details"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input type="number" matInput="number" placeholder="Price">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="status">
      <mat-option [value]="option.value" *ngFor="let option of statusArray">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="test()">Save</button>
</mat-dialog-actions>
