<h3 class="special">Assign Details</h3>
<mat-dialog-content>

<!-- Display time, date, transmission, fuelType -->
  <!-- <p>Mechanic ID: {{employeeID}}</p> -->
  <mat-form-field class="fill-container" appearance="fill">
    <mat-label>Mechanic</mat-label>
    <mat-select (selectionChange)="changeTimeArray()" [(value)]="employeeID">
      <mat-option [value]="option.id" *ngFor="let option of employees">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>
<br>

<mat-form-field class="fill-container" appearance="fill">
  <mat-label>Service</mat-label>
  <mat-select [(value)]="service">
    <mat-option [value]="option.value" *ngFor="let option of serviceArray">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>
<h4 class="special">Release Schedule</h4>
<mat-form-field class="fill-container" appearance="fill">
  <mat-label>Choose date of release</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="estimate" [matDatepickerFilter]="weekendsDatesFilter" [min]="minDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input type time</mat-label>
  <mat-select [(value)]="start">
    <mat-option [value]="option.value" *ngFor="let option of timeArray">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>

<!-- 
<br>
<mat-form-field appearance="outline">
  <mat-label>Input type time</mat-label>
  <mat-select [(value)]="time">
    <mat-option [value]="option.value" *ngFor="let option of timeArray">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Car Name</mat-label>
  <textarea matInput [(ngModel)]="carName" placeholder="Input Problem Details">{{carName}}</textarea>
</mat-form-field>
<br>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Tranmission</mat-label>
  <textarea matInput [(ngModel)]="transmission" placeholder="Input Problem Details">{{transmission}}</textarea>
</mat-form-field>
<br>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Fuel Type</mat-label>
  <textarea matInput placeholder="Input Problem Details">{{fuelType}}</textarea>
</mat-form-field>
<br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Problem</mat-label>
    <textarea matInput [(ngModel)]="problem" placeholder="Input Problem Details">{{problem}}</textarea>
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Solution</mat-label>
    <textarea matInput [(ngModel)]="solution" placeholder="Input Problem Details">{{solution}}</textarea>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input value={{price}} [(ngModel)]="price" type="number"  matInput="number"> 
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="status">
      <mat-option [value]="option.value" *ngFor="let option of statusArray">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br> -->

  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="updateData()">Save</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
    
</mat-dialog-actions>

</mat-dialog-content>
 


