@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Oswald:wght@400;600&family=Roboto:wght@100;300&family=Rubik+Glitch&display=swap');
body{
   margin: 0;
}
*{
    box-sizing: border-box;

}

.titleBooking{
    margin: -1% 0px 0px 55px;
}

.booking{
    margin: 11% 0px 0px 55px;
}

.main{
    margin: 10px 0px 0px 0px;
    justify-content: center;
    height: 2200px;
    background-color: rgb(255, 232, 232);
}

.lefttext{
    width: 100%;
    height: 100%;
    justify-content: center;
    display:flex;
    float: center ;   
    margin: 8% 0px 0px -1%;
    text-align: center;
}
.lefttext .textwrap{
    margin: 7% 80px 0px 0px; /*margin ng text*/
    width: 100%;
    justify-content: center;
    text-align: center;
}
.lefttext .textwrap h1{
    width: 100%;
    overflow-wrap: break-word;
    font-size: 40px;
    font-family: 'Oswald', cursive;
    padding: 0;
    color: black;
    justify-content: center;
    text-align: center;
    margin: 0 ;
}
.lefttext .textwrap p{
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    font-family: 'Arial';
    padding: 0;
    color: black;
    justify-content: center;
    text-align: center;
}
.lefttext .textwrap button{
    font-size: 24px;
    margin-top: 10px;
  
}


.box{
    width: 500px;
    height: 1700px;
    background: white;
    text-align: center;
    margin:auto;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 25px;
    box-shadow: 5px 10px rgb(255, 173, 173);
    transform: translateY(5%);
    vertical-align:center;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', cursive;
  }

  .smallBox{
    padding-top: 1%;
    width: 500px;
    height: 16%;
    background: white;
    text-align: center;
    margin:auto;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 25px;
    box-shadow: 5px 10px rgb(255, 173, 173);
    transform: translateY(5%);
    vertical-align:center;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', cursive;
  }

  .specialButton{
    font-size: 24px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(255, 115, 115);
    color: whitesmoke;
    font-family: 'Oswald', cursive;
    justify-content: center;
    text-align: center;
}
.specialButton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
}

.mat-form-field.fill-container,
.mat-form-field.fill-container .mat-form-field-infix,
.mat-form-field.fill-container .mat-form-field-flex,
.mat-form-field.fill-container .mat-form-field-wrapper {
    width: 100%;
}
