<app-toolbar></app-toolbar>


<div class="main">
    <div class="box">
        <div class="lefttext">
            <div class="textwrap">
                
                <div class="titleBooking">
                    <h1 class= "special">
                        User Booking Appointment
                    </h1>                    
                </div> 

                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
                

        <div class="booking">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <textarea [(ngModel)]="customerName" matInput placeholder="Input Full Name"></textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea [(ngModel)]="customerEmail" matInput placeholder="Input Your Email"></textarea>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput [(ngModel)]="customerPhone" (keypress)="numberOnly($event)" type="text">
            </mat-form-field>
            <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Car Name</mat-label>
    <textarea [(ngModel)]="carName" matInput placeholder="Input Problem Details"></textarea>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Transmission</mat-label>
    <mat-select [(value)]="transmission">
      <mat-option [value]="option" *ngFor="let option of transArray">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Fuel Type</mat-label>
    <mat-select [(value)]="fuelType">
      <mat-option [value]="option" *ngFor="let option of gasType">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service Category</mat-label>
    <mat-select (selectionChange)="changePrice()" [(value)]="problem">
      <mat-option [value]="option" *ngFor="let option of service">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>