@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Oswald:wght@400;600&family=Roboto:wght@100;300&family=Rubik+Glitch&display=swap');
.mat-form-field {
    padding-top: -100px;
    margin-top: -10px;
    width: 100%;
}
html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
}

h1.special{
  justify-content: center;  
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 43px;
  font-family: 'Oswald', cursive;
  padding: 0;
  color: black;
  margin: 70 0 0 4;
}

p.special{
    width: 100%;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: 'Oswald', cursive;
    padding-bottom: 40;
    color: black;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  button.specialButton
  {
    font-size: 24px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(255, 115, 115);
    color: whitesmoke;
    font-family: 'Oswald';
    justify-content: center;
    text-align: center;
  }

  .specialButton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
}

.delivery-text{
  font-family: Oswald;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}

.delivery-text2 {
  font-family: Oswald;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.delivery-address {
  font-family: Oswald, cursive;
  font-size: 20px;
  color: #000000;
  padding-top: 10px;
}

.order-information-header{
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: 20px;
}

.orderId{
  font-family: Lato;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  padding-top:10px;
  padding-left: 15px;
}

.ordered-time{
  font-family: Lato;
  font-size: 1em;
  color: #000000;
  padding-top:5px;
  padding-left:15px;
 padding-bottom: 5px;
}

.mat-progress-bar
  {
    width: auto;
    height: 40px;
    border-radius:100px;
    margin-left: 5%;
    margin-right: 5%;  
    margin-top: 5%;
  }

  .order-status-text {
    text-align:center;
    margin-top: 10px;
    font-family: Oswald;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #d55e57
  }

.mainTwo {
  margin: 0px;
  justify-content: center;
  height: 1800px;
  background-color: rgb(255, 232, 232);
}

.main{
  margin: 10px 0px 0px 0px;
  justify-content: center;
  height: 100%;
  background-color: rgb(255, 232, 232);
}


/* .box{
  width: 500px;
  height: 80%;
  background: white;
  text-align: center;
  margin:auto;
  margin-top: 6%;
  margin-bottom: 5%;
  transform: translateY(5%);
  vertical-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', cursive;
} */

.example-full-width{
  width:80%;
}

.box{
  width: 500px;
  height: 500px;
  background: white;
  text-align: center;
  margin:auto;
  border-radius: 25px;
  box-shadow: 5px 10px rgb(255, 173, 173);
  margin-top: 6%;
  margin-bottom: 5%;
  transform: translateY(5%);
  vertical-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', cursive;
}

.example-full-width{
  width:80%;
}


.result{
  width: 500px;
  height: 1600px;
  border-radius: 25px;
  box-shadow: 5px 10px rgb(255, 173, 173);
  background: white;
  text-align: center;
  margin:auto;
  margin-top: 6%;
  margin-bottom: 5%;
  transform: translateY(5%);
  vertical-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', cursive;
}

ul {
  display: grid;
  text-align: left;
  grid-template-columns: 3fr 3fr;
  list-style-position: inside;
}