.mat-form-field {
    padding-top: -100px;
    margin-top: -10px;
    width: 100%;
}

h1.special{
    justify-content: center;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 50px;
    font-family: 'Oswald';
    padding-top: 70;
    padding-bottom: 40px;
    color: black;
    text-align: center;
    margin: 0;
  }

  p.special{
    width: 100%;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: 'Oswald', cursive;
    padding-bottom: 40;
    color: black;
    justify-content: left;
    text-align: left;
    margin: 0;
  }

  button.specialButton
  {
    font-size: 24px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(255, 115, 115);
    color: whitesmoke;
    font-family: 'Oswald';
    justify-content: center;
    text-align: center;
  }

  .specialButton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
}

.delivery-text{
  font-family: Oswald;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.delivery-address {
  font-family: Oswald;
  font-size: 20px;
  color: #000000;
}

.order-information-header{
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: 20px;
}

.orderId{
  font-family: Lato;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  padding-top:10px;
  padding-left: 15px;
}

.ordered-time{
  font-family: Lato;
  font-size: 1em;
  color: #000000;
  padding-top:5px;
  padding-left:15px;
 padding-bottom: 5px;
}

.mat-progress-bar
  {
    width: auto;
    height: 40px;
    border-radius:100px;
    margin-left: 5%;
    margin-right: 5%;  
    margin-top: 5%;
  }

  .order-status-text {
    text-align:center;
    margin-top: 10px;
    font-family: Oswald;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    color: #d55e57
  }