<app-toolbar></app-toolbar>

<div class="content" role="main">

    <h2> DIAGNOSE VEHICLE </h2>

    <h4> Potential Problems</h4>

    <h4> Possible Solutions</h4>

    <h4> Estimated Fees</h4>

    <h6>Please note that these estimates are computer-generated fees from our
        Expert System and are still subject to change upon manual diagnosis of
        a mechanic.<br>  
        If you would like your car to be serviced, book a schedule with the button below. <br>
        Upon opening a ticket, we will assign you a ticket containing the following: <br>
        -Schedule <br>
        -Technician <br>
        -Job Order (use this to regularly check the status of your vehicle on our website.
        To do so, simply select "How's My Vehicle" on the upper-right.
    </h6>
            
    <h1></h1>
    <button md-button class="specialBtn" routerLink="/DiagnoseVehicleProblemComponent"> Back </button>

    <h1></h1>
    <button md-button class="specialBtn" routerLink="/bookingAppointment"> Book a Schedule </button>
    <h1></h1>
    
</div>