<p>staff works!</p>
<app-toolbar></app-toolbar>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staff Login</title>
    <link rel="stylesheet" href="staff.component.css" charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body class="admin">

    <nav class="admin__sidepanel">
      <ul>
        <li>
          <i class="fa fa-car"></i>Current Vehicles 
        </li>
        <li>
          <i class="fa fa-file-text-o"></i>Appointments
        </li>
        <li>
          <i class="fa fa-pencil-square-o"></i>Edit Appointment
        </li>
      </ul>
    </nav>

  </body>
</html>
