<app-toolbar></app-toolbar>

<div class="main" role="main">

	<div class="box">
		<h1 class="special"> LOGIN</h1>

		<h1></h1><h1></h1><h1></h1>

		<h4 class="special"> (Or use your account)</h4>

		<h1></h1><h1></h1><h1></h1>

		<h3 class="special"> Username</h3>

		<input class= "input" type="text" placeholder="enter email" name="username" [(ngModel)]="email">

		<h3 class="special"> Password</h3>

		<input class= "input" type="text" placeholder="enter password" name="password" [(ngModel)]="password">

		<h5>{{ errorMSG }}</h5>


		<button md-button class="specialButton" (click)="checkLogin()"> Log In </button>

		<h1></h1>
		<button md-button class="specialButton" routerLink="/signup"> Sign Up </button>
		<h1></h1><h1></h1>
	</div>

</div>