<p>editappointment works!</p>
<app-toolbaradmin></app-toolbaradmin>
<div class="container">
	<section id="create-appointment">
		<form name="create-appointment" id="create-appointment">
			<fieldset>
				<legend><strong>Employee</strong></legend>
				<div class="form-group">
					<input type="text" name="employeefullName" placeholder="Full Name" />
					<input type="text" name="employeeID" placeholder="Employee ID" />
					<input type="email" name="employeeMail" placeholder="Email" />
					<input type="number" name="employeePhone" placeholder="Phone No." />
			</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<strong>Time Frame</strong>
				</div>
				<div class="form-group">
					<select name="method">
						<option value="morning">Morning shift 7-12</option>
						<option value="Afternoon">Afternoon Shift  12-6</option>
						<option value="Whole Day">Whole day 7-6pm</option>
					</select>		
				</div>
			</fieldset>
			<fieldset>
				<legend><strong>Days Available</strong></legend>
				<div class="form-group">
					<select name="alarm">
						<option value="weekday">Mon-Fri</option>
						<option value="weekend">Mon-Sat</option>
					</select>
				</div>
			</fieldset>
			<fieldset>
				<legend><strong>Confirm Changes</strong></legend>
				<div class="form-group">
					<button data-button-type="submit">Submit</button>
				</div>
			</fieldset>
		</form>
		</section>
	<section>
		<textarea name="ics" style="float:right;" placeholder="type notes here"></textarea>
	</section>
</div>


