<div class="toolbar" role="banner">

    <img width="150" alt="Angular Logo" src="assets/images/logo.png" />

    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>

    <button md-button class="btn1"> Diagnose Vehicle </button>

    <h1></h1>

    <button md-button class="btn1"> How's My Vehicle </button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/login"> Login/Signup </button>

</div>

<div class="content" role="main">



    <h1> TERM System</h1>

    <h3> A Ticketing Expert Repair Maintenance System</h3>

    <img width="200" alt="Home Photo" src="assets/images/home.jpg" />

    <h1></h1>

    <button md-button class="specialBtn"> Book <br> Appointment </button>

    <h1></h1>
    <button md-button class="specialBtn"> Our Services </button>
    <h1></h1>
    <h1></h1>
</div>