<app-toolbaradmin></app-toolbaradmin>


<div class='row dashboard-cards'>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Pending Inquiry
          <small>You currently have {{pendingInquiry.length}} pending inquiries</small>
        </h2>
        <div class='task-count'>
          {{pendingInquiry.length}}
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Appointments
          <small>You have 5 total appointments today</small>
        </h2>
        <div class='task-count'>
          5
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Total Tickets
          <small>Autoshop has total of {{totalTickets}} tickets</small>
        </h2>
        <div class='task-count'>
          {{totalTickets}}
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Employees
          <small> You {{totalEmployees.length}} Total Employees</small>
        </h2>
        <div class='task-count'>
          {{totalEmployees.length}}
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Currently in Service
          <small>You {{currentlyServiced.length}} Cars that are currenly  in service</small>
        </h2>
        <div class='task-count'>
          {{currentlyServiced.length}}
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4 '>
      <div class='card-title'>
        <h2>
          Cars for Release 
          <small>You have {{carRelease.length}} car pending for Release</small>
        </h2>
        <div class='task-count'>
          {{carRelease.length}}
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              1st Inner Section Task
              <span>59%</span>
            </li>
            <li>
              2nd Inner Section Task
              <span>11%</span>
            </li>
            <li>
              3rd Inner Section Task
              <span>100%</span>
            </li>
            <li>
              4th Inner Section Task
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src = 'adminpage.component.ts'> </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  
