<div class="toolbaruser" role="banner">
    <img width="150" img height="55" alt="Angular Logo" src="assets/images/logo.png" />
    
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <button md-button class="btn1" routerLink="/UserHomePageComponent"> Home </button>
    
    <h1></h1>

    <button md-button class="btn1" routerLink="/UserBook"> Book Appointment </button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/diagnoseVehicleCredentials">Diagnose Your Vehicle</button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/EditUser"> Edit Account Details</button>
    
    <h1></h1>

    <button md-button class="btn1" (click)="logOut()">Log Out</button>
    
    <h1></h1>
    
    

</div>