<app-toolbar></app-toolbar>

<div class="main" role="main">

  <div class="box">
    <h1 class= "special"> SIGN UP</h1>

    <h1></h1><h1></h1><h1></h1>

    <h3 class="special"> Full Name</h3>
    
    <input class="input" type="text" placeholder="enter full name" name="full name" [(ngModel)]="fullName" required>
    
    <h3 class="special"> Email Address </h3>
    
    <input class="input" type="text" placeholder="enter email address" name="email" [(ngModel)]="email" required>
    
    <h3 class="special"> Phone Number</h3>
    
    <input class="input" type="text" placeholder="enter phone number" name="phone" [(ngModel)]="phone" required>
    
    <h3 class="special"> Password </h3>
    
    <input class="input" type="text" placeholder="enter password" name="password" [(ngModel)]="password"
          required>
    <h1></h1>
    
    <button md-button class="specialButton" 
      (click)="changeText()"> Create Account </button>

    <h5>{{ errorMSG }}</h5>

    <h4 class="special"> Already have an account? </h4>
    <h1></h1><h1></h1><h1></h1>
    <h1></h1><h1></h1><h1></h1>

    <button md-button class="specialButton" routerLink="/login"> Log In </button>
    <h1></h1><h1></h1>
    
  </div>

</div>